<%@ Control Language="vb" AutoEventWireup="false" Codebehind="RefineryScorecard.ascx.vb" Inherits="Solomon.Profile.Server.ReportControls.RefineryScorecard" TargetSchema="http://schemas.microsoft.com/intellisense/ie5" %>
