<%@ Control Language="vb" AutoEventWireup="false" Codebehind="ProcessScorecardReport.ascx.vb" Inherits="ReportControls.ProcessScorecardReport" TargetSchema="http://schemas.microsoft.com/intellisense/ie5" %>
