#tabmenu {
		color: #000;
		border-bottom: 1px solid black;
		margin: 2px 0px 0px 0px;
		padding: 0px;
		z-index: 1;
		padding-left: 0px }
   
 
	#tabmenu li {
		display: inline;
		overflow: hidden;
		list-style-type: none; }

	#tabmenu a, a.active {
		color: #AFA695;
		
		background: #012F53;
		font: bold 1em "Trebuchet MS", Arial, sans-serif;
		border: 1px solid black;
		border-top: 1px solid #cccccc;
        border-bottom: 1px solid black;
        border-left: 1px solid #cccccc;
        border-right: 1px solid black;
		padding: 2px 3px 0px 3px;
		margin: 0px;

		text-decoration: none; }

	#tabmenu a.active {
		background: #4D697E;
		border-bottom: 3px solid #4D697E; }

	#tabmenu a:hover {
		color: #fff;
		background: #ADC09F; }

	#tabmenu a:visited {
		color: #E8E9BE; }

	#tabmenu a.active:hover {
		background: #4D697E;
		color: #AFA695; }

	#content,#viewcharts,#chartopt,#editdata {font: 0.9em/1.3em "bitstream vera sans", verdana, sans-serif;
	
		background: #4D697E;
		padding: 20px;
		border: 1px solid black;
		border-top: 1px solid #cccccc;
		border-bottom: 1px solid black;
		border-left: 1px solid #cccccc;
		border-right: 1px solid black;
		border-top: none;
		z-index: 2;	}

	#content,#viewcharts,#chartopt,#editdata a {
		text-decoration: none;
		color: #E8E9BE; }

	#content,#viewcharts,#chartopt,#editdata a:hover { background: #898B5E; }