<!-- config-start -->
FILE=_CONFIG/Personnel.xml;
<!-- config-end -->
<!-- template-start -->
<table class='small' border=0>
<tr>
  <td width=250></td>
  <td align=center colspan=2><strong>UNDER CONSTRUCTION</td>
</tr>

</table>
<!-- template-end -->
