<%@ Control Language="vb" AutoEventWireup="false" Codebehind="ChangePasswordCtrl.ascx.vb" Inherits="Solomon.Profile.Corporate.ChangePasswordCtrl" TargetSchema="http://schemas.microsoft.com/intellisense/ie5" %>
<script language="javascript">
function checkPassword()
{
	if(document.getElementById('ChangePasswordCtrl1:Password1').value !=  document.getElementById('ChangePasswordCtrl1:Password2').value)
	   alert('Password does not match');
}
</script>
<TABLE width="312" height="135" border="1" cellPadding="0" cellSpacing="0" id="Table2"
	style="WIDTH: 312px; HEIGHT: 135px" borderColor="#eeeeee" rules="none" frame="box">
	<TR>
		<TD class="leftRelatedLinks" bgColor="#5f6a7f" colSpan="3" style="HEIGHT: 12px"><IMG height="12" alt="" src="images/related_dots.gif" width="16">&nbsp;Change 
			Password<IMG height="16" src="images/clear.gif" width="1" align="absMiddle"></TD>
	</TR>
	<TR>
		<TD width="8">&nbsp;&nbsp;</TD>
		<TD width="147" class="leftlinks"><asp:RequiredFieldValidator id="oldValidator" runat="server" ErrorMessage="<img src=images/link_box_red.gif >&nbsp;"
				ControlToValidate="oldpassword"></asp:RequiredFieldValidator>
			Old Password:</TD>
		<TD width="136"><INPUT class="INPUT-BOX" type="password" size="18" name="OldPassword" id="OldPassword"
				runat="server"></TD>
	</TR>
	<TR>
		<TD>&nbsp;&nbsp;</TD>
		<TD class="leftlinks"><asp:RequiredFieldValidator id="newValidator" runat="server" ErrorMessage="<img src=images/link_box_red.gif >&nbsp;"
				ControlToValidate="Password1"></asp:RequiredFieldValidator>
			New Password:</TD>
		<TD><INPUT class="INPUT-BOX" id="Password1" type="password" size="18" name="Password1" runat="server"></TD>
	</TR>
	<TR>
		<TD style="HEIGHT: 31px"></TD>
		<TD class="leftlinks" style="HEIGHT: 31px"><asp:RequiredFieldValidator id="new2Validator" runat="server" ErrorMessage="<img src=images/link_box_red.gif >&nbsp;"
				ControlToValidate="Password2"></asp:RequiredFieldValidator>
			New Password Again:</TD>
		<TD style="HEIGHT: 31px"><INPUT onchange="checkPassword();" class="INPUT-BOX" id="Password2" type="password" size="18"
				name="Password2" runat="server"></TD>
	</TR>
	<TR>
		<TD colSpan="3"><P align="center">&nbsp;&nbsp;&nbsp;&nbsp; <INPUT class="btnlogin" id="Submit1" type="submit" value="Login" name="login now" runat="server">
			</P>
		</TD>
	</TR>
	<TR>
		<TD colSpan="3"><IMG height="6" src="images/clear.gif" width="1"></TD>
	</TR>
</TABLE>
<P>
	<asp:Literal id="ltStatus" runat="server"></asp:Literal>
</P>
<P>&nbsp;</P>
