﻿<%@ Master Language="VB" AutoEventWireup="false" CodeBehind="Corporate.master.vb" Inherits="Solomon.Profile.Corporate.Corporate" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title>ProfileII:Corporate</title>
	<meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
	<style type="text/css">
		@font-face {
			font-family: 'Glyphicons Halflings';
			font-style: normal;
			src: url('styles/fonts/glyphicons-halflings-regular.woff2');
		}
	</style>
	<script src="scripts/jquery/jquery-2.2.4.min.js"></script> <!-- (das) Bootstrap 3.3.6 requires previous version of jquery -->
	<script src="scripts/bootstrap/bootstrap-3.3.6.min.js"></script>
	<script src="scripts/jquery/js.cookie.js"></script>
	<link href="~/styles/bootstrap/bootstrap-3.3.6.min.css" rel="stylesheet" />
	<link href="~/styles/bootstrap/bootstrap-theme-3.3.6.min.css" rel="stylesheet" />
	
	<script type="text/javascript" src="scripts/sa_content.js"></script>
	
	<!-- <link rel="stylesheet" type="text/css" href="~/styles/sa_style.css" /> -->
	<link rel="stylesheet" media="screen" href="~/styles/Profile.Corporate.css" />
	<script type="text/javascript">
	<!--
	function MM_reloadPage(init) {  //reloads the window if Nav4 resized
		if (init == true) with (navigator) {
			if ((appName == "Netscape") && (parseInt(appVersion) == 4)) {
				document.MM_pgW = innerWidth; document.MM_pgH = innerHeight; onresize = MM_reloadPage;
			}
		}
		else if (innerWidth != document.MM_pgW || innerHeight != document.MM_pgH) location.reload();
	}
	MM_reloadPage(true);
	//-->
	</script>
	<asp:ContentPlaceHolder ID="PH_head" runat="server">
    </asp:ContentPlaceHolder>
</head>
<body>
    
    <div id="wrap">
			<div class="container">
			
				<div class="row">
					<div class="col-sm-12">
						<div class="page_banner">
							<img src="images/Profile%20II_Header.jpg" />
						</div>
					</div>
				</div>
				
                <div class="page_menu_bar">
                    <div class="row">
                        <div class="col-sm-12">
                            <div id="navbar" class="btn-group pull-right">
                                <asp:Label ID="UserNameLabel" runat="server" class="navigationStandard btn-sm navigationText" Text="Label"></asp:Label>
                                <button type="button" id="Button1" runat="server" onserverclick="navbtnHome_ServerClick" class="navigationHome btn btn-default btn-sm">
                                    <span class="glyphicon glyphicon-home" aria-hidden="true"></span> Home
                                </button>
                                <button type="button" id="navbtnChangePassword" runat="server" onserverclick="navbtnChangePassword_ServerClick" class="navigationStandard btn btn-default btn-sm">
                                    <span class="glyphicon glyphicon-cog" aria-hidden="true"></span> Settings
                                </button>
                                <button type="button" id="navbtnLogout" runat="server" onserverclick="navbtnLogout_ServerClick" class="navigationStandard btn btn-default btn-sm">
                                    <span class="glyphicon glyphicon-user" aria-hidden="true"></span> Logout
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
			
				<div class="row">
					<div class="col-sm-12" style="background-color: #fff; min-height:2px; height:2px;"></div>
				</div>
				<div class="row">
					<div class="col-sm-12" style="background-color: #ff3300; min-height:2px; height:2px;"></div>
				</div>
				<div class="row">
					<div class="col-sm-12" style="background-color: #fff; min-height:2px; height:2px;"></div>
				</div>

				<div class="row">				
					<div class="col-sm-3 col-md-3">
						<table class="sidebar_banner">
							<tbody>
								<tr>
									<td>
										<img src="images/ghg_one_left.jpg" />
										<br />
										<div class="sidebar-date"><%= Date.Today.ToString("dddd, MMMM dd ") %></div>
									</td>
								</tr>
								<tr>
									<td>
										<asp:ContentPlaceHolder runat="server" ID="PH_Sidebar"></asp:ContentPlaceHolder>
									</td>
								</tr>
							</tbody>
						</table>
					</div>

					<div id="workarea" class="col-sm-9 col-md-9">
						<div class="login_banner">
							<div id="summary" class="summary_label">LOGIN</div>
							
								<asp:ContentPlaceHolder ID="PH_Work" runat="server"></asp:ContentPlaceHolder>
							
						</div>							
					</div> <!-- col-sm-9 -->

				</div> <!-- row -->
				 
				<div id="push"></div>
			</div>
		</div>

		
        
    <div id="footer">
			<div class="container">					
				<!-- #BeginLibraryItem "/Library/Main_Footer.lbi" -->
				<div class="row">
					<div class="col-sm-6">
						<img height="40" src="images/clearspacer.gif" width="10" style="vertical-align:middle;text-align:center;" /><a class="legal" href="<%=ConfigurationManager.AppSettings("LegalUrl")%>">Legal Notice</a>
					</div>
					<div class="col-sm-6" style="text-align:right;">
						<span style="color:#fff;">&nbsp;© <%= DateTime.Now.Year%>, HSB Solomon Associates, LLC&nbsp;</span>
						<a class="homelink" href="<%=ConfigurationManager.AppSettings("IndexUrl")%>"><img height="20" alt="Front Page" src="images/home_icon.gif" width="25" style="vertical-align:middle;text-align:center;" /></a>
						<img height="40" src="images/clearspacer.gif" width="10" style="vertical-align:middle;text-align:center;" />
					</div>
				</div>
				<!-- #EndLibraryItem -->
			</div>
		</div>
    		
</body>
</html>
