﻿<%@ Master Language="VB" AutoEventWireup="true" CodeBehind="Corporate.master.vb" Inherits="Solomon.Profile.Corporate.Corporate" %>

<%@ Import Namespace="Solomon.Profile.Corporate" %>
<%@ Import Namespace="Microsoft.AspNet.Identity" %>
<!DOCTYPE html>

<html lang="en">
<head runat="server">
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ProfileII:Corporate</title>

    <style type="text/css">
        @font-face {
            font-family: 'Glyphicons Halflings';
            font-style: normal;
            src: url('~/styles/fonts/glyphicons-halflings-regular.woff2');
        }
    </style>
    <script type="text/javascript" src="<%= Page.ResolveClientUrl("~/scripts/jquery/jquery-2.2.4.min.js") %>"></script>
    <script type="text/javascript" src="<%= Page.ResolveClientUrl("~/scripts/bootstrap/bootstrap-3.3.6.min.js") %>"></script>
    <script type="text/javascript" src="<%= Page.ResolveClientUrl("~/scripts/jquery/js.cookie.js") %>"></script>
    <script type="text/javascript" src="<%= Page.ResolveClientUrl("~/scripts/sa_content.js") %>"></script>

    <link href="~/styles/bootstrap/bootstrap-3.3.6.min.css" rel="stylesheet" />
    <link href="~/styles/bootstrap/bootstrap-theme-3.3.6.min.css" rel="stylesheet" />
    <link rel="stylesheet" media="screen" href="~/styles/Profile.Corporate.css" />
    <link media="screen" href="~/styles/rounded-div.css" type="text/css" rel="stylesheet" />
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />

    <asp:ContentPlaceHolder ID="PH_head" runat="server"></asp:ContentPlaceHolder>
</head>
<body>
    <form runat="server">
        <div id="wrap">
            <div class="container">

                <div class="row">
                    <div class="col-sm-12">
                        <div class="page_banner">
                            <asp:Image runat="server" ImageUrl="~/images/Profile%20II_Header.jpg" />
                        </div>
                    </div>
                </div>

                <asp:LoginView runat="server" ViewStateMode="Disabled">
                    <LoggedInTemplate>
                        <div class="page_menu_bar">
                            <div class="row">
                                <div class="col-sm-12">
                                    <div><span id="Cmpany" class="companyText"></span></div>
                                    <div id="navbar" class="btn-group pull-right">
                                        <asp:Label ID="UserNameLabel" runat="server" class="navigationStandard btn-sm navigationText">Hello, <%: Context.User.Identity.GetUserName()  %>!</asp:Label>
                                        <button type="button" id="Button1" runat="server" onserverclick="navbtnHome_ServerClick" class="navigationHome btn btn-default btn-sm">
                                            <span class="glyphicon glyphicon-home" aria-hidden="true"></span> Home
                                        </button>
                                        <button type="button" id="navbtnChangePassword" runat="server" onserverclick="navbtnChangePassword_ServerClick" class="navigationStandard btn btn-default btn-sm">
                                            <span class="glyphicon glyphicon-cog" aria-hidden="true"></span> Settings
                                        </button>
                                        <asp:LoginStatus runat="server" ToolTip="Logout" OnLoggingOut="Unnamed_LoggingOut" LogoutText='<span class="glyphicon glyphicon-user" aria-hidden="true"></span> Logout' CssClass="navigationStandard btn btn-default btn-sm"></asp:LoginStatus>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </LoggedInTemplate>
                </asp:LoginView>


                <div class="row">
                    <div class="col-sm-12" style="background-color: #fff; min-height: 2px; height: 2px;"></div>
                </div>
                <%--   <div class="row">
                    <div class="col-sm-12" style="background-color: #ff3300; min-height: 2px; height: 2px;"></div>
                </div>
                <div class="row">
                    <div class="col-sm-12" style="background-color: #fff; min-height: 2px; height: 2px;"></div>
                </div>--%>

                <div class="row">
                    <div class="col-sm-3 col-md-3">
                        <table class="sidebar_banner">
                            <tbody>
                                <tr>
                                    <td>
                                        <asp:Image runat="server" ImageUrl="~/images/ghg_one_left.jpg" />
                                        <br />
                                        <div class="sidebar-date" runat="server"><%= Date.Today.ToString("dddd, MMMM dd ") %></div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <div class="wrap_side">
                            <table class="sidebar_banner">
                                <tbody>
                                    <tr>
                                        <td>
                                            <asp:ContentPlaceHolder runat="server" ID="PH_Sidebar"></asp:ContentPlaceHolder>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>

                    <div id="workarea" class="col-sm-9 col-md-9">
                        <div class="login_banner">
                            <div id="summary" class="summary_label">LOGIN</div>
                            <asp:ContentPlaceHolder ID="PH_Work" runat="server"></asp:ContentPlaceHolder>
                        </div>
                    </div>
                    <!-- col-sm-9 -->

                </div>
                <!-- row -->
                <div class="container" id="footer">
                    <!-- #BeginLibraryItem "/Library/Main_Footer.lbi" -->
                    <div class="row">
                        <div class="col-sm-6">
                            <asp:Image runat="server" Height="40" ImageUrl="~/images/clearspacer.gif" Width="10" Style="vertical-align: middle; text-align: center;" /><a class="legal" href="<%=ConfigurationManager.AppSettings("LegalUrl")%>">Legal Notice</a>
                        </div>
                        <div class="col-sm-6" style="text-align: right;" runat="server">
                            <span style="color: #fff;">&nbsp;© <%= DateTime.Now.Year%>, HSB Solomon Associates, LLC&nbsp;</span>
                            <a class="homelink" href="<%=ConfigurationManager.AppSettings("IndexUrl")%>">
                                <asp:Image runat="server" Height="20" alt="Front Page" ImageUrl="~/images/home_icon.gif" Width="25" Style="vertical-align: sub; text-align: center;" /></a>
                            <asp:Image runat="server" Height="40" ImageUrl="~/images/clearspacer.gif" Width="10" Style="vertical-align: middle; text-align: center;" />
                        </div>
                    </div>
                    <!-- #EndLibraryItem -->
                </div>
            </div>
        </div>


    </form>
</body>
</html>
