

.trigger{
      cursor: default ;
      cursor: hand;
   }
   .branch{
      display: none;
      margin-left: 16px;
      background-repeat:no-repeat;
      background-color:Gray 
   }
.branch.a.hover
{
	display: block;
	text-decoration: none;
	border-right-color: darkcyan;
	font-weight:bold 
}

.branch.a.active
{
	border-right: gainsboro thin solid;
	border-top: gainsboro thin solid;
	margin: 2pt;
	border-left: gainsboro thin solid;
	border-bottom: gainsboro thin solid;
	background-color: gainsboro;
}