<%@ Control Language="vb" AutoEventWireup="false" Codebehind="LoginControl.ascx.vb" Inherits="ProfileII_Corporate.LoginControl" TargetSchema="http://schemas.microsoft.com/intellisense/ie5" %>
<LINK media="screen" href="styles/rounded-div.css" type="text/css" rel="stylesheet">
<P><BR>
	<FORM name="form1" onsubmit="return(document.form1.securedusername.value!='' &amp;&amp; document.form1.securedpassword.value!='');"
		action="sa_login.asp" method="post">
		&nbsp;
		<TABLE id="Table2" style="WIDTH: 256px; HEIGHT: 101px" borderColor="#eeeeee" cellSpacing="0"
			cellPadding="0" rules="none" width="256" border="1" frame="box">
			<TR bgColor="#5f6a7f">
				<TD class="leftRelatedLinks" style="WIDTH: 265px; HEIGHT: 19px" colSpan="3"><IMG height="12" alt="" src="images/related_dots.gif" width="16">Log 
					In<IMG height="16" src="images/clear.gif" width="1" align="absMiddle"></TD>
			</TR>
			<TR>
				<TD style="WIDTH: 5px; HEIGHT: 22px">&nbsp;&nbsp;&nbsp;</TD>
				<TD class="leftlinks" style="WIDTH: 82px; HEIGHT: 22px"><asp:requiredfieldvalidator id="UserValidator" ControlToValidate="txtUsername" ErrorMessage="<img src=images/link_box_red.gif >&nbsp;"
						runat="server"></asp:requiredfieldvalidator>Username:</TD>
				<TD style="WIDTH: 163px; HEIGHT: 22px"><INPUT class="INPUT-BOX" id="txtUsername" tabIndex="18" size="17" name="txtUsername" runat="server"></TD>
			</TR>
			<TR>
				<TD style="WIDTH: 5px; HEIGHT: 22px">&nbsp;</TD>
				<TD class="leftlinks" style="WIDTH: 82px; HEIGHT: 22px"><asp:requiredfieldvalidator id="PasswordValidator" ControlToValidate="txtPassword" ErrorMessage="<img src=images/link_box_red.gif >&nbsp;"
						runat="server"></asp:requiredfieldvalidator>Password:</TD>
				<TD style="WIDTH: 163px; HEIGHT: 22px"><INPUT class="INPUT-BOX" id="txtPassword" tabIndex="19" type="password" size="17" name="txtPassword"
						runat="server"></TD>
			</TR>
			<TR>
				<TD style="WIDTH: 265px" colSpan="3">
					<P align="center">&nbsp;&nbsp;&nbsp;&nbsp; <INPUT class="btnlogin" id="Submit1" tabIndex="20" type="submit" value="Login" name="login now"
							runat="server">
					</P>
				</TD>
			</TR>
			<TR>
				<TD style="WIDTH: 265px" colSpan="3"><IMG height="6" src="images/clear.gif" width="1"></TD>
			</TR>
		</TABLE>
</P>
<P><asp:literal id="ltStatus" runat="server"></asp:literal></P>
<P></FORM>
	<style> 
	</style>
</P>
<script>
    // FOCUS ON USERNAME TEXTBOX
	document.getElementById('LoginControl1_txtUsername').focus();
	

</script>
